header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

nav {
  display: none;
}
.navigation-menu {
  margin-top: 25px;
  margin-right: 30px;
}
.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
}

input[type]:checked ~ nav {
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;   
  background-color: var(--background-tertiary-color);
}
.list-links{
    list-style: none;
    font-family: "Montserrat";
    
}
.list-links li{
  margin:16px 0px;
}

.list-links li a {
    color: var(--text-secondary-color);
    text-decoration: none;
    

}
