.hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/hero-img-mobile.png) no-repeat;
  background-size: cover;
}
.text-hero {
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
  padding: 88px 24px;
  text-align: center;
  line-height: 1.5;
  height: 256px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-img-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .text-hero {
    height: 256px;
    font-size: 32px;
    padding: 80px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-img-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .text-hero {
    font-family: "Montserrat";
    font-size: 32px;
    padding: 104px 120px;
    height: 300px;
  }
}

@media screen and (min-width: 1920px) {
  .text-hero {
    padding: 104px 160px;
  }
}
