.hero-img{
    width: 100%;
    height: 400px;
    background: url(../img/hero-img-mobile.png) no-repeat;
    background-size:cover ;
}
.text-hero{
    font-family: "Montserrat";
    font-size: 20px;
    color: var(--text-primary-color);
    font-weight: var(--text-weight);
}

@media screen and (min-width:768px){
    .hero-img{
        height: 620px;
        background: url(../img/hero-img-tablet.jpg) no-repeat;
        background-size: cover;
        
    }
    .text-hero{
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: var(--text-weight);
    }
    
}
@media screen and (min-width:1024px) {
    .hero-img{
        height: 620px;
        background: url(../img/hero-img-desktop.jpg) no-repeat;
        background-size: cover;
    }
    .text-hero{
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: var(--titles-weight);
    }
    
}