.card {
  text-align: center;
  padding: 24px 16px;
  color: var(--background-primary-color);
  background-color: var(--background-tertiary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
}

.card header {
  display: block;
  padding: 0px;
  /* background-color: transparent; */
  position: static;
  font-size: 20px;
  font-weight: var(--text-weight);
}
.card h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0px;
}
.card span {
  font-size: 32px;
  margin: 24px 0px;
  display: inline-block;
}
